.feather {
    width: 1.5rem;
    height: 1.5rem;
}

catnip-block {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: .1rem .25rem;
    background: #fff;
    background: var(--code-bg-color);
    border-radius: .2rem;
    border: 1px solid #c8cdd1;
    border-color: var(--code-border-color);
    line-height: 1;
    transition: .15s ease all
}

catnip-block.command + catnip-block.command {
    margin-top: 0.25rem;
}

catnip-block.computed{
    display: inline-flex
}

catnip-block>* {
    vertical-align: middle;
    flex: 0 0 auto
}

catnip-block .catnip-block-aFiller,
catnip-block .catnip-block-anAsyncMarker {
    flex: 1 1 0;
    text-align: right
}

catnip-block .catnip-block-aBreak {
    flex: 0 0 100%;
    height: 0
}

catnip-block .catnip-block-Options {
    flex: 1 0 100%;
    border-top: 1px solid #e1e2e5;
    margin: -.25rem -.75rem -.5rem !important;
    background: #fafafa
}

catnip-block .catnip-block-Options:last-child {
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem
}

catnip-block .catnip-block-Options>.catnip-block-anOptionsToggle {
    padding-top: .25rem;
    text-align: center;
    cursor: pointer;
    font-size: 80%;
    opacity: .5;
    transition: .15s ease all
}

catnip-block .catnip-block-Options>.catnip-block-anOptionsToggle span {
    margin: 0 .5rem
}

catnip-block .catnip-block-Options>.catnip-block-anOptionsToggle>svg {
    width: 1rem;
    height: 1rem;
    margin: 0
}

catnip-block .catnip-block-Options dl {
    border-top: 1px solid #e1e2e5;
    display: flex;
    flex-flow: row nowrap;
    padding: .5rem .75rem;
    margin: 0;
    gap: .25rem;
    align-items: center
}

catnip-block .catnip-block-Options dt {
    flex: 1 1 25%
}

catnip-block .catnip-block-Options dd {
    flex: 1 1 70%
}

catnip-block .catnip-block-anAsyncMarker {
    cursor: help
}

catnip-block .catnip-block-Blocks {
    flex: 1 1 100%
}

catnip-block.command>.catnip-block-aTextLabel {
    overflow: hidden;
    line-height: 1.25;
    text-overflow: ellipsis;
    flex: 0 1 auto;
    word-wrap: nowrap;
    white-space: nowrap;
    max-width: calc(100% - 2rem)
}

catnip-block asset-input {
    line-height: 2
}


catnip-block.command {
    padding: .5rem .75rem;
    margin: .5rem 0;
    gap: .5rem
}

catnip-block.computed,
catnip-block .catnip-block-aConstantInput {
    gap: .25rem;
    border-radius: 100em !important;
    margin: .5rem 0;
    padding: .1rem .25rem .1rem .5rem !important;
    flex: 0 0 auto;
    width: max-content;
    box-sizing: content-box
}

catnip-block.computed>svg,
catnip-block .catnip-block-aConstantInput>svg {
    width: 1rem;
    height: 1rem
}

catnip-block.computed {
    padding: .1rem .5rem .1rem .5rem !important
}

catnip-block.computed.wildcard,
catnip-block .catnip-block-aConstantInput.wildcard {
    color: #423b87;
    border: 1px solid #5144db;
    background-color: #edecfb
}

catnip-block.computed.wildcard>svg,
catnip-block .catnip-block-aConstantInput.wildcard>svg {
    color: #5144db
}

catnip-block.computed.wildcard::placeholder,
catnip-block .catnip-block-aConstantInput.wildcard::placeholder {
    color: #5144db;
    opacity: .65
}

catnip-block.computed.string,
catnip-block .catnip-block-aConstantInput.string {
    color: #873b87;
    border: 1px solid #db44db;
    background-color: #fbecfb
}


catnip-block.computed.string>svg,
catnip-block .catnip-block-aConstantInput.string>svg {
    color: #db44db
}

catnip-block.computed.string::placeholder,
catnip-block .catnip-block-aConstantInput.string::placeholder {
    color: #db44db;
    opacity: .65
}

catnip-block.computed.number,
catnip-block .catnip-block-aConstantInput.number {
    color: #40842f;
    border: 1px solid #4ed62c;
    background-color: #edfae9
}

catnip-block.computed.number>svg,
catnip-block .catnip-block-aConstantInput.number>svg {
    color: #4ed62c
}

catnip-block.computed.number::placeholder,
catnip-block .catnip-block-aConstantInput.number::placeholder {
    color: #4ed62c;
    opacity: .65
}

catnip-block.computed.boolean,
catnip-block .catnip-block-aConstantInput.boolean {
    color: #87673b;
    border: 1px solid #db9c44;
    background-color: #fbf5ec
}


catnip-block.computed.boolean>svg,
catnip-block .catnip-block-aConstantInput.boolean>svg {
    color: #db9c44
}

catnip-block.computed.boolean::placeholder,
catnip-block .catnip-block-aConstantInput.boolean::placeholder {
    color: #db9c44;
    opacity: .65
}

catnip-block.computed.color,
catnip-block .catnip-block-aConstantInput.color {
    color: #3b6e87;
    border: 1px solid #44a9db;
    background-color: #ecf6fb
}


catnip-block.computed.color>svg,
catnip-block .catnip-block-aConstantInput.color>svg {
    color: #44a9db
}

catnip-block.computed.color::placeholder,
catnip-block .catnip-block-aConstantInput.color::placeholder {
    color: #44a9db;
    opacity: .65
}

catnip-block.computed.userdefined,
catnip-block .catnip-block-aConstantInput.userdefined {
    background: #5144db;
    border: 1px solid #5144db;
    color: #fff;
    font-weight: bold
}

catnip-block.computed.constant {
    font-weight: bold;
    color: #fff
}

catnip-block.computed.constant.wildcard {
    border: 1px solid #5144db;
    background: #5144db
}

catnip-block.computed.constant.string {
    border: 1px solid #db44db;
    background: #db44db
}

catnip-block.computed.constant.number {
    border: 1px solid #4ed62c;
    background: #4ed62c
}

catnip-block.computed.constant.boolean {
    border: 1px solid #db9c44;
    background: #db9c44
}

catnip-block.computed.constant.color {
    border: 1px solid #44a9db;
    background: #44a9db
}

catnip-block catnip-block.computed,
catnip-block .catnip-block-aConstantInput,
catnip-block catnip-block.constant {
    margin: 0
}

catnip-block>svg.feather {
    vertical-align: middle
}

catnip-block catnip-block .catnip-block-aTextLabel {
    font-size: 15px
}

catnip-block catnip-block catnip-block .catnip-block-aTextLabel {
    font-size: 14px
}

catnip-block textarea,
.catnip-block textarea {
    width: 100%;
    box-sizing: border-box
}

catnip-block .catnip-block-Blocks {
    background: var(--code-bg-color);
    border-radius: .2rem;
    border: 1px solid var(--code-border-color);
    padding: 0 .75rem
}

catnip-block .catnip-block-Blocks+* {
    margin-left: 0
}

catnip-block .catnip-block-aBlockPlaceholder {
    opacity: .65;
    margin: .5rem 0
}

catnip-block .catnip-block-aBlockPlaceholder * {
    vertical-align: middle;
}

catnip-block .catnip-block-aBlockPlaceholder>*+* {
    margin-left: .35rem
}

catnip-block.note {
    background: #ffff8026;
    border-color: #c4bd3483;
    color: black;
    box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.05), 0 .2rem .3rem rgba(0, 0, 0, 0.1), 0 .3rem .5rem rgba(0, 0, 0, 0.05);
    display: flex;
    flex-flow: row nowrap
}

catnip-block.note .catnip-block-aTextLabel {
    display: none
}

catnip-block.note img {
    flex: 0 0 auto;
    color: #ff9748
}

catnip-block.note textarea {
    font: inherit;
    font-size: 80%;
    line-height: 120%;
    flex: 1 1 auto;
    border: 0;
    margin: 0;
    font-style: italic;
    background: transparent;
    height: 1.5rem;
    resize: none;
}

.catnip-block-aConstantInput {
    box-sizing: content-box;
    vertical-align: middle
}

.catnip-block-aConstantInput span {
    vertical-align: middle;
    margin-right: .25rem
}

.catnip-block-aConstantInput img,
.catnip-block-aConstantInput svg {
    width: 1rem;
    height: 1rem;
    vertical-align: middle
}